body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-image: url('bgimage.jpg');
    background-size: cover;
    background-repeat: no-repeats;
    background-attachment: fixed;
}

header {
    background-color: #532ff2;
    color: #ec0808;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-evenly;
    
}


 ul button{

  background-color: rgb(246, 246, 249);
  cursor: pointer;
  
 }
nav li {
    margin-right: 20px;

}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#hl{
color:white;
border-bottom: double;
}

.news, .fighters, .events {
    margin-bottom: 20px;
}

.news ul, .fighters ul, .events ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.news li, .fighters li, .events li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}
h2{
color: #ffffff;
border-bottom: double;

}
h5{
    color: #ffffff;
}



#u1>li>a:link{
    color: azure;
}

#u1 a:visited{
color: #ffffff;

}


#u1>li>a:hover{
    
    color: #f70a0a;

}


#button{
    border-radius: 8px;
}




#heading{
    font-weight: bolder;
    border-bottom: double white;
     color:white ;
     padding-bottom: 1%;
    }





  

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-wrapper {
    margin: 10px;
    display: inline-block;
  }
  
  .image {
    width: 200px;
    height: 150px;
  }
  
  .image-wrapper p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
.image-wrapper p{
    color: #fff;
    font-weight: bolder;
}